In [10]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('sample10000.csv')
N = len(data)
N

10000

In [3]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.50,0.0,0.3,7.80
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.00,0.0,0.3,4.80
2,1,2016-12-17 00:57:37,2016-12-17 01:10:37,3,2.30,1,N,90,233,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
3,1,2016-12-01 20:32:54,2016-12-01 20:52:17,1,5.00,1,N,13,143,1,18.5,0.5,0.5,3.95,0.0,0.3,23.75
4,2,2016-12-12 19:25:14,2016-12-12 19:34:15,2,1.43,1,N,164,79,1,7.5,1.0,0.5,1.00,0.0,0.3,10.30

In [4]:
data.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,1.536700,1.636800,2.881264,1.040700,162.961100,161.26480,1.367500,12.909326,0.336300,0.497100,1.741332,0.289889,0.299670,16.077712
std,0.498676,1.262634,3.583925,0.296061,67.012232,71.59232,0.499268,10.595165,0.444153,0.041131,2.365474,1.404553,0.013744,13.107409
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.00000,1.000000,-5.500000,-1.000000,-0.500000,0.000000,0.000000,-0.300000,-6.800000
25%,1.000000,1.000000,1.000000,1.000000,114.000000,107.00000,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.500000
50%,2.000000,1.000000,1.645000,1.000000,162.000000,162.00000,1.000000,9.500000,0.000000,0.500000,1.250000,0.000000,0.300000,11.800000
75%,2.000000,2.000000,3.032500,1.000000,233.000000,234.00000,2.000000,15.000000,0.500000,0.500000,2.360000,0.000000,0.300000,17.800000
max,2.000000,6.000000,30.800000,5.000000,265.000000,265.00000,4.000000,124.000000,4.500000,0.500000,28.740000,21.500000,0.300000,125.300000

In [5]:
count = data['payment_type'].value_counts()[2]
count

3543

In [6]:
cash_payers = data[data['payment_type'] == 2]

In [14]:
from statsmodels.stats.proportion import proportion_confint
conf_int = proportion_confint(count, N, alpha=0.005)
conf_int

(0.34087393929282994, 0.36772606070717007)

In [9]:
trip_distance_mean = data['trip_distance'].mean()
trip_distance_mean

2.8812639999999945

In [11]:
trip_distance_std = data['trip_distance'].std() / np.sqrt(N-1)
trip_distance_std

0.035841046211059255

In [13]:
from statsmodels.stats.weightstats import DescrStatsW
conf_int = DescrStatsW(data['trip_distance']).tconfint_mean()
conf_int

(2.8110118487985973, 2.9515161512014023)